:root {
  --main-color-titel: #212121;
  --main-color-text: #757575;
  --color-blue: #2196f3;
  --color-white: #ffffff;
  --color-activ-button: #188ce8;
  --color-background-heroes: #2f303a;
  --color-background-our-team: #f5f4fa;
  --color-border: #eeeeee;
  --color-backgraund-link: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-white);
  color: var(--main-color-text);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid red;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* HEADER */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-blue);
}

.logo > span {
  color: var(--main-color-titel);
}

.header-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color-titel);
}

.header-item.current {
  color: var(--color-blue);
}

.header-item:hover,
.header-item:focus {
  color: var(--color-blue);
}

.adress-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color-text);
}

.adress-item:hover,
.adress-item:focus {
  color: var(--color-blue);
}

/* Heroes */
.heroes {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--color-background-heroes);
}

.heroes-titel {
  width: 696px;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}

.heroes-button {
  display: inline-block;
  background: var(--color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;

  color: var(--color-white);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  cursor: pointer;
}

.heroes-button:hover {
  background: var(--color-activ-button);
}

/* Feature */
.feature {
padding-top: 94px;
padding-bottom: 94px;
}

.feature-item {
  width: 270px;
}

.feature-titel {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color-titel);
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Activities */
.activities {
  padding-bottom: 94px;
}

.activities-titel {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-titel);
}

.activities-item {
  display: block;
}

/* Our team */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--color-background-our-team);
}

.team-list-item {
  background-color: var(--color-white);
}

.team-titel {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-titel);
}

.team-list-item {
  padding-bottom: 30px;
  width: 270px;
}

.team-image {
  margin-bottom: 30px;
}

.team-undertitel {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-color-titel);
}

.team-text {
  display: block;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--color-background-heroes);
}

.logo.footer {
  display: block;
  padding: 0;
  margin-bottom: 20px;
}

.logo.footer > span {
  color: var(--color-white);
}

.footer-adress {
  min-width: 231px;
}

.footer-link {
  display: block;
  margin-bottom: 9px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-white);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--color-blue);
}

.adress-link {
  color: var(--color-backgraund-link);
}

/*------------------------------------------- Project */
.project {
  padding-top: 94px;
  padding-bottom: 94px;
}

.project-button-list {
  margin-bottom: 50px;
}

.project-button {
  display: inline-block;
  padding: 6px 22px;


  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-titel);
  cursor: pointer;

  background: var(--color-background-our-team);
  border: none;
  border-radius: 4px;
}

.project-button:hover,
.project-button:focus {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.item-project {
  border: 1px solid var(--color-border);
  padding-bottom: 20px;
  width: 370px;
  margin-bottom: 30px;
}

.project-imege {
  display: block;
  margin-bottom: 20px;
}

.project-titel {
  margin-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color-titel);
}

.project-text {
  padding-left: 24px;
  padding-right: 24px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
}
